.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 520px;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-copywright {
    text-align: center;
}

.footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-icons li {
    margin: 0 10px;
}

.social-icons a {
    font-size: 24px;
}
