.row {
height: 10vh; /* 80% of the viewport height */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 520px;
}

.footer {
    /* 100% of the viewport width */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-copywright {
    text-align: center;
}

.footer-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-icons li {
    margin: 0 10px;
}

.social-icons a {
    font-size: 24px;
}
