/* Put your CSS code here */
/* COLORS */

.main {
    height: 80vh;
    width: 98vw;
}
:root {
  --b: #5aa8e8;
  --b-rgba: rgba(108, 90, 232, 0.25);
  --b-skills: #5E95E8;
  --w: #fff;
}

/* TRANSITIONS */
:root {
  --tr01: all 0.5s ease-in-out;
  --bezier: cubic-bezier(0.17, 0.67, 0, 1);
}

/* SKILL BARS */
:root {
  --skills01: 90%;
  --skills02: 90%;
  --skills03: 80%;
  --skills04: 70%;
  --skills05: 75%;
  --skills06: 60%;
  --skills07: 80%;
  --skills08: 75%;
}

.skills {
  animation-name: skills;
}

html {
  font-size: 100%;
  font-family: sans-serif;
}


.main html,
body,
main {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
}

section article.skills {
  width: 500px;
  height: auto;
}

section article.skills p {
  z-index: 2;
  color: var(--w);
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
}

section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--w);
  height: 85%;
  width: 100%;
}

section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--b-skills);
  height: 100%;
}

section article.skills div:nth-child(1) span:nth-child(2) {
  width: var(--skills01);
  animation-delay: 0s;
}

section article.skills div:nth-child(2) span:nth-child(2) {
  width: var(--skills02);
  animation-delay: 0.05s;
}

section article.skills div:nth-child(3) span:nth-child(2) {
  width: var(--skills03);
  animation-delay: 0.1s;
}

section article.skills div:nth-child(4) span:nth-child(2) {
  width: var(--skills04);
  animation-delay: 0.15s;
}

section article.skills div:nth-child(5) span:nth-child(2) {
  width: var(--skills05);
  animation-delay: 0.2s;
}

section article.skills div:nth-child(6) span:nth-child(2) {
  width: var(--skills06);
  animation-delay: 0.25s;
}

section article.skills div:nth-child(7) span:nth-child(2) {
  width: var(--skills07);
  animation-delay: 0.3s;
}

section article.skills div:nth-child(8) span:nth-child(2) {
  width: var(--skills08);
  animation-delay: 0.35s;
}

section:before {
  position: absolute;
  top: -250px;
  left: -350px;
  width: 500px;
  height: 500px;
  content: '';
  background: var(--b-rgba);
  transform: rotate(30deg);
}

section:after {
  position: absolute;
  bottom: -250px;
  right: -350px;
  width: 500px;
  height: 500px;
  content: '';
  background: var(--b-rgba);
  transform: rotate(30deg);
}

.skills {
  animation: skills 1.25s var(--bezier);
}

@keyframes skills {
  0% {
    left: -500px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}
